<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Bot</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script defer src="../static/js/script.js"></script>
</head>
<body>
<div class="container">
    <h1>Chat Bot</h1>
    <div class="chat-container">
        <div class="input-container">
            <form id="chat-form">
                <div class="description-container">
                    <p>Напиши "Привіт" для початку розмови. Щоб дізнатися про бота, напиши "хто ти".</p>
                </div>
                <input type="text" id="user-message" placeholder="Enter your message">
                <button type="submit">Send</button>
            </form>
        </div>
        <div class="response-container" id="chat-response"></div>
    </div>
</div>
</body>
</html>
